#!/bin/bash

ip link add link bond0 name bond0.{{ metal_data_vlans[0] }} type vlan id {{ metal_data_vlans[0] }}
ip addr add {{ springald_ips[inventory_hostname] }}/24 dev bond0.{{ metal_data_vlans[0] }}
ip link set dev bond0.{{ metal_data_vlans[0] }} up
ip link set mtu 9000 bond0
ip link set mtu 9000 bond0.{{ metal_data_vlans[0] }}
ip route add 172.22.22.0/24 via 172.16.16.1
