[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
EnvironmentFile=-/etc/sysconfig/node_exporter
ExecStart=/metal/node_exporter/bin/node_exporter-1.5.0.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target
