#jinja2: trim_blocks:False
---
global:
  scrape_interval: 15s

  external_labels:
    monitor: 'metal-monitor'

scrape_configs:
  - job_name: 'metal-host-node-exporter'

    static_configs:
      {% for host in groups['tag_metal_springald'] %}
      {{"- targets:"}}
        {{"- " + hostvars[host]['ip_addresses'][2]['address'] + ":9100"}}
        {{"labels:"}}
          {{"instance: " + hostvars[host]['hostname']}}
    {% endfor %}
